header {

    padding: 1em;
    background-color: #006D77;
    color: aliceblue;
    gap: 1em;

    h1 {
        margin: 0;
        font-size: 1.6rem;
        font-family: 'DynaPuff', cursive;
    }

    img {
        filter: invert(1);
        width: 40px;
    }

}