.questionnary {
    position: relative;
    min-height: 100vh;
    padding-bottom: 5em;
    overflow-y: hidden;

    button {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0.2em;
        font-weight: 600;
        font-size: 1.2rem;
    }

    .questionnary__header {
        width: 100%;
        padding: 1em;
        font-size: 1.1rem;
        font-weight: 700;
        color: rgb(54, 54, 54);
        margin-bottom: 2em;
    }

    .continue--button ,
    .quiz--button {
        border-radius: 0;
        background-color: #2E933C;
        padding: 1em;

        &:hover,
        &:focus {
            color: #2E933C;
            background-color: aliceblue;
        }
    }

    .continue--button {
        background-color: #006D77;
        &:hover,
        &:focus {
            color: #006D77;
        }
    }

    .disabled--button {
        cursor: not-allowed;
        background-color: red;

        &:hover,
        &:focus {
            color: red;
            background-color: aliceblue;
        }
    }

}