<div *ngIf="currentQuestionnary$ | async as questionnary" class="questionnary">
    <div class="questionnary__header basic--shadow">{{ questionnary[0].category }}</div>
    <app-question-set
        *ngFor="let question of questionnary"
        [questionSet]="question"
    ></app-question-set>
    <button
        *ngIf="!areAnswersValidated && currentQuestionnary$"
        (click)="onValidateAnswers()"
    >
        Validate
    </button>
    <button *ngIf="areAnswersValidated" (click)="onContinue()">Continue</button>
</div>
<div class="loading-screen flex--column flex--align fade-in-bottom">
    <mat-spinner *ngIf="!currentQuestionnary$"></mat-spinner>
</div>
