<header class="flex--align basic--shadow">
    <div class="header__logo flex--align">
        <a href=""
            ><img src="../../assets/quiz-logo.png" alt="Quiz Master's logo"
        /></a>
        <a href=""><h1>Quiz Master</h1></a>
    </div>
    <div *ngIf="isUserLogged" class="header__user-section flex--align">
        <span *ngIf="currentUsername$ | async as user">Hi, {{ user.displayName }} !</span>
        <div
            (click)="onClickProfile()"
            class="header__user-profile basic--shadow"
        >
            <img src="../../../assets/user.png" alt="User's profile picture" />
        </div>
        <button (click)="onLogOut()" class="basic--button log--button">
            Log Out
        </button>
    </div>
</header>
<app-login
    *ngIf="isLoginModalDisplayed"
    (modalClosed)="toggleLoginModal()"
></app-login>
