header {
    padding: 1em;
    background-color: #006d77;
    color: aliceblue;
    gap: 1em;
    justify-content: space-between;

    .header__logo {
        gap: 1em;
    }

    h1 {
        margin: 0;
        font-size: 1.6rem;
        font-family: "DynaPuff", cursive;
    }

    img {
        filter: invert(1);
        width: 40px;
    }

    .log--button {
        background-color: #161032;

        &:hover,
        &:focus {
            color: #161032;
            background-color: aliceblue;
        }
    }
}
