.login-form {
    position: absolute;
    width: 400px;
    border-radius: 1em;
    padding: 2em;
    box-shadow: 1px 1px 20px #111;
    background-color: aliceblue;

    form {
        gap: 1em;
    }

    .login-form__top {
        gap: 3em;
        margin-bottom: 2em;

        .login--active {
            border-bottom: 2px solid #006d77;
        }

        .login-form__top__button {
            font-weight: 700;
            font-size: 1.3rem;
            padding: 0.2em 0;
            cursor: pointer;
        }

        .fa-xmark {
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }
}
