<div *ngIf="currentQuestionnary$ | async as questionnary" class="questionnary">
    <div class="questionnary__header basic--shadow flex--between ">
       <span>{{ questionnary[0].category }}</span> 
       <span>Points : {{ answerPoints }} </span>
    </div>
    <app-question-set
        *ngFor="let question of questionnary"
        [questionSet]="question"
        (onAnswerSelected)="onAnswerSelect()"
    ></app-question-set>
    <button
    class="basic--button quiz--button"
        [ngClass]="{ 'disabled--button' : !areAllQuestionsAnswered }"
        *ngIf="!areAnswersValidated && currentQuestionnary$"
        (click)="onValidateAnswers()"
    >
        Validate
    </button>
    <button
        class="basic--button continue--button"
        *ngIf="areAnswersValidated"
        (click)="onContinue()"
    >
        Continue
    </button>
</div>

