.question__set {
    margin-bottom: 2em;

    h2 {
        padding: 0 1em;
        line-height: 1;
    }

    .mat-button-toggle-appearance-standard {
        .mat-button-toggle-label-content {
            line-height: 0;
        }
    }
}

mat-button-toggle-group {
    flex-wrap: wrap;
    width: 100%;
    border: none;

    mat-button-toggle {
        width: 50%;
        border: 1px solid rgba(0, 0, 0, 0.164);
        white-space: normal;
        text-overflow: clip;
        line-height: 1;
    }
}

.good,
.bad {
    color: white;
    font-weight: 600;
    text-shadow: 1px 1px 5px #111;
}
