.landing-page {
    padding: 4em 2em;

    .landing-page__intro {
        max-width: 700px;
        text-align: center;
        gap: 1em;
        margin-bottom: 3em;

        h2 {
            font-size: 2rem;
            font-weight: 700;
        }

        p {
            font-size: 1.1rem;
        }
    }

    h3 {
        font-weight: 700;
        font-size: 1.5rem;
        text-align: left;
        align-self: flex-start;
    }

    .join-button {
        margin-bottom: 7em;
    }

   
}
