.landing-page {
    padding: 5em;

    .landing-page__intro {
        max-width: 700px;
        text-align: center;
    }

    .landing-page__themes {
        flex-wrap: wrap;
        gap: 1em;

        .landing-page__themes__card {
            background-color: rgb(248, 152, 42);
            padding: 1em;
            border-radius: 1em;
            flex-grow: 1;
            flex-basis: 150px;
            box-shadow: 2px 2px 8px #111;

            h4 {
                font-weight: 600;
                color: aliceblue;
                text-shadow: 1px 1px 4px #111;
            }

            h4, img {
                pointer-events: none;
            }
        }
    }
}
