html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

// MODIFIER CLASSES

.flex--between,
.flex--column,
.flex--center,
.flex--align,
.flex {
    display: flex;
}

.flex--align {
    align-items: center;
}

.flex--center {
    justify-content: center;
}

.flex--column {
    flex-direction: column;
}

.flex--between {
    justify-content: space-between;
}

.basic--shadow {
    box-shadow: 1px 1px 5px #11111185;
}

.modal--container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #1111114d;
}

// CATEGORIES DISPLAY

.categories {
    flex-wrap: wrap;
    gap: 1em;

    .categories__card {
        background-color: #20a4f3;
        border-radius: 1em;
        flex-grow: 1;
        flex-basis: 150px;
        position: relative;
        overflow: hidden;
        min-height: 150px;
        cursor: pointer;

        &:hover,
        &:focus {
            transform: scale(1.01);
            box-shadow: 1px 1px 6px #111;
        }

        &:hover img,
        &:focus img {
            transform: scale(1.2);
        }

        h4 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: 600;
            color: aliceblue;
            text-shadow: 1px 1px 4px #111;
            text-align: center;
            font-size: 1.4rem;
            z-index: 2;
        }

        h4,
        img {
            pointer-events: none;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 1s;
        }
    }
}

// ANSWER MODIFIER CLASSES

.good {
    background-color: rgb(100, 190, 100);
}

.bad {
    background-color: rgb(221, 95, 95);
    animation: vibrate-1 0.5s linear both;
    animation-delay: 0.4s;
}

.grayed {
    opacity: 0.5;
}

.unselectable {
    pointer-events: none;
}

// BUTTONS

.basic--button {
    font-weight: 700;
    background-color: #006d77;
    color: aliceblue;
    border: transparent;
    border-radius: 1em;
    padding: 0.5em 1.5em;
    font-size: 1.2rem;
    box-shadow: 1px 1px 4px #111;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: aliceblue;
        color: #006d77;
    }
}

// KEYFRAMES

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

// ANIMATED CLASSES

.fade-in-bottom {
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
        both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.slide-in-right {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
